In [7]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [8]:
# load the JSON file
with open("data (raw)/bikeshare/station_status.json", "r") as f:
    data = json.load(f)

# extract stations and convert to DataFrame
df = pd.DataFrame(data["data"]["stations"])

# display first rows in the notebook
df.head()

,is_renting,station_id,is_installed,is_returning,last_reported,num_bikes_available,num_docks_available
0,True,00000001,True,True,1757520849,12,8
1,True,00000002,True,True,1757520849,0,15
2,True,00000003,True,True,1757520849,1,10
3,True,00000004,True,True,1757520849,3,4
4,True,00000005,True,True,1757520849,5,12

In [9]:
df.shape

(4991, 7)

In [10]:
df.columns

Index(['is_renting', 'station_id', 'is_installed', 'is_returning',
       'last_reported', 'num_bikes_available', 'num_docks_available'],
      dtype='object')